footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #4C5D70;
    color: aliceblue;
    display: flex;
    p, a{
        margin: 10px;
        padding: 5px;
        font-family: monospace; 
        text-decoration: none;
    }
    a{
        color: aliceblue;
         
    }
    
}

